/* Root styles */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --paragraph-primary: hsl(201, 11%, 66%);
  --heading-primary: hsl(210, 10%, 33%);
  --button-primary: hsl(171, 66%, 44%);
  --button-secondary: hsl(233, 100%, 69%);
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsla(0, 0%, 95%, 0.548);
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

/* Main semantic styles*/
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-primary);
  /* Text syling */
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  grid-area: header;
  padding: clamp(1rem, calc(0.8rem + 1vw), 2rem);
}

main {
  @include flex-column();
  grid-area: main;
  padding: clamp(1rem, calc(0.8rem + 1vw), 2rem);
}

footer {
  @include flex-column();
  margin-block-start: 5rem;
  grid-area: footer;
  background-color: var(--background-secondary);
}

/* Text styles */
.heading {
  color: var(--heading-primary);
  margin-block: 0.5rem;
  &--small {
    font-size: clamp(1.2rem, calc(1.2rem + 1vw), 1.3rem);
  }
  &--medium {
    font-size: clamp(1.3rem, calc(1.3rem + 1vw), 1.5rem);
  }
  &--large {
    font-size: clamp(1.5rem, calc(1.5rem + 1vw), 2rem);
  }
}

.paragraph_text {
  color: var(--paragraph-primary);
  font-size: clamp(0.9rem, calc(0.7rem + 1vw), 1.2rem);
  line-height: 1.3rem;
}

.attribution {
  font-family: sans-serif;
  text-align: center;
  font-size: 0.6rem;
  margin-block-start: 1rem;
  color: var(--paragraph-primary);
  a {
    color: var(--button-primary);
    &:hover {
      color: var(--button-secondary);
      transition: 150ms ease;
    }
  }
}

/* Interactive Elements */
.download_button {
  border-radius: 3rem;
  width: min(80vw, 20rem);
  padding: 0.8rem 1rem;
  margin: 1rem auto;

  a {
    color: white;
    text-decoration: none;
  }
  &--green {
    background-color: var(--button-primary);
  }
  &--blue {
    background-color: var(--button-secondary);
  }
}

.footer__link {
  font-size: 0.8rem;
  color: var(--heading-primary);
  text-decoration: none;
  margin-block: 0.5rem;

  &:hover {
    text-decoration: underline;
  }
}

/* Assets */
.header_image {
  background-image: url("images/bg-header-mobile.png");
}

.image {
  width: 100%;
  margin-block: 3rem;
}

.icon {
  align-self: center;
  justify-self: center;

  &--small {
    width: min(6%, 1.5rem);
    margin: 2rem 1rem;
  }

  &--medium {
    width: min(15%, 3rem);
    margin-block: 2rem;
  }

  &--large {
    width: min(40%, 7rem);
    margin-block: 3rem;
  }
}

.logo {
  @extend .icon;
  display: block;
  margin-block: 2rem;
  width: min(35%, 10rem);
}

/* Utility styles */
.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.margin--large {
  margin-block: 4rem;
}

/* Media queires */
@media (prefers-reduced-motion: reduce) {
  .attribution a:hover {
    transition: 0ms ease;
  }
}
