/* Root styles */
*,
::before,
::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Main colors */
  --paragraph-primary: hsl(201, 11%, 66%);
  --heading-primary: hsl(210, 10%, 33%);
  --background-primary: hsl(0, 0%, 100%);
  --background-secondary: hsla(0, 0%, 87%, 0.333);
  /* Button colors */
  --button-primary: hsl(171, 66%, 44%);
  --button-secondary: hsl(233, 100%, 69%);
  --button-primary-hover: hsl(171, 66%, 47%);
  --button-secondary-hover: hsl(233, 100%, 73%);
  --button-primary-shadow: hsla(171, 76%, 54%, 0.6);
  --button-secondary-shadow: hsla(233, 91%, 75%, 0.6);
}

/* Layout styles*/
body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header" "main" "footer";
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--background-primary);
  /* Text syling */
  text-align: center;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  grid-area: header;
}

main {
  display: flex;
  flex-direction: column;
  grid-area: main;
}

section {
  padding: clamp(1.2rem, 1.2rem + 1vw, 2rem);
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-block-start: 5rem;
  grid-area: footer;
  background-color: var(--background-secondary);
}

.columns {
  display: flex;
  flex-direction: column;
}

/* Text styles */
.heading {
  color: var(--heading-primary);
}
.heading--small {
  font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
}
.heading--medium {
  font-size: clamp(1.3rem, 1.3rem + 1vw, 1.5rem);
}
.heading--large {
  font-size: clamp(1.5rem, 1.5rem + 1vw, 1.7rem);
}

.paragraph_text {
  color: var(--paragraph-primary);
  font-size: clamp(0.9rem, 1.1rem - 1vw, 1.1rem);
  line-height: 1.3rem;
  max-width: 65ch;
  margin-inline: auto;
}

.attribution {
  font-family: sans-serif;
  text-align: center;
  font-size: 0.6rem;
  color: var(--paragraph-primary);
}
.attribution a {
  color: var(--button-primary);
}
.attribution a:hover {
  color: var(--button-secondary);
  transition: 150ms ease;
}

/* Interactive Elements */
.download_button {
  border-radius: 3rem;
  padding: 0.8rem 2rem;
  margin-block: 2rem;
}
.download_button a {
  color: white;
  text-decoration: none;
}
.download_button--green {
  background-color: var(--button-primary);
  box-shadow: 0 0.2rem 1rem 0rem var(--button-primary-shadow);
}
.download_button--green:hover {
  background-color: var(--button-primary-hover);
  cursor: pointer;
}
.download_button--blue {
  background-color: var(--button-secondary);
  box-shadow: 0 0.2rem 1rem 0rem var(--button-secondary-shadow);
}
.download_button--blue:hover {
  background-color: var(--button-secondary-hover);
  cursor: pointer;
}

.footer__link {
  font-size: 0.8rem;
  color: var(--heading-primary);
  text-decoration: none;
}
.footer__link:hover {
  text-decoration: underline;
  color: var(--button-primary);
}

/* Assets */
.header_image {
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../images/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  width: 100%;
  height: 12rem;
}

.image {
  width: min(100%, 30rem);
  filter: drop-shadow(0 0 0.5rem var(--paragraph-primary));
}

.svg {
  width: 0.8rem;
  margin: 2rem 0.2rem;
  fill: var(--heading-primary);
}
.svg:hover {
  cursor: pointer;
  fill: var(--button-primary);
}

.icon, .logo {
  align-self: center;
  justify-self: center;
}
.icon--medium {
  width: min(15%, 2.5rem);
  margin-block: 2rem;
}
.icon--large {
  width: min(40%, 7rem);
  margin-block: 3rem;
}

.logo {
  display: block;
  width: min(35%, 6rem);
}

/* Utility styles */
.flex {
  display: flex;
}
.flex_row {
  flex-direction: row;
  justify-content: center;
}
.flex_column {
  flex-direction: column;
}

.margin--small {
  margin-block: 0.5rem;
}
.margin--small--end {
  margin-block-end: 0.5rem;
}
.margin--medium {
  margin: 2rem;
}
.margin--large {
  margin-block: 4rem;
}
.margin--large--start {
  margin-block-start: 3rem;
}
.margin--large--end {
  margin-block-end: 3rem;
}

/* Media queires */
@media (prefers-reduced-motion: reduce) {
  .attribution a:hover {
    transition: 0ms ease;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  section {
    padding: 2rem;
  }
  .heading--small {
    font-size: 1.2rem;
  }
  .heading--medium {
    font-size: 1.5rem;
  }
  .heading--large {
    font-size: 1.7rem;
  }
  .paragraph_text {
    font-size: 1rem;
  }
  .align_left--wide_screen_only {
    text-align: left;
  }
  .flex_row--wide_screen_only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }
  .flex_row--wide_screen_only:nth-of-type(2) {
    flex-wrap: nowrap;
  }
  .content {
    padding-block-start: 0.5rem;
    width: clamp(30ch, 30ch + 1%, 35ch);
  }
  .image {
    width: 55%;
    padding-inline: 1rem;
  }
  .columns {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    text-align: left;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-self: flex-start;
    margin-inline-start: -20%;
  }
  .footer_grid {
    justify-content: space-around;
    align-items: center;
    padding-inline: 2rem;
  }
  .header_image {
    background-image: url("../images/bg-header-desktop.png");
    height: 20rem;
  }
}
@media screen and (min-width: 1024px) {
  .align_left--wide_screen_only {
    text-align: left;
  }
  .flex_row--wide_screen_only {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .content {
    padding-block-start: 0.5rem;
    width: clamp(30ch, 30ch + 1vw, 40ch);
  }
  .image {
    padding-inline-end: 3rem;
  }
  .columns {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    text-align: left;
    -moz-column-gap: 2rem;
         column-gap: 2rem;
    justify-self: flex-start;
    margin-inline-start: -20%;
  }
  .footer_grid {
    justify-content: space-around;
    align-items: center;
    width: 100vw;
  }
  .header_image {
    background-image: url("../images/bg-header-desktop.png");
    height: 20rem;
  }
}/*# sourceMappingURL=styles.css.map */